RewriteEngine On
RewriteCond %{HTTP_HOST} ^rednblue.uk.to$ [OR]
RewriteCond %{HTTP_HOST} ^www.rednblue.uk.to$
RewriteRule (.*)$ http://rednblue.uk.to/$1 [R=301,L]

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /rednblue/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rednblue/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\xampp\htdocs\rednblue/wp-content/uploads\simply-static\573f63d3055cc4887b31af1828ecc2cd-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static